.root {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 420px;
  margin-left: 2%;

  & div {
    display: flex;
    align-items: center;
    justify-content: inherit;
  }

  & button {
    align-self: center;
    border: none;
    padding: .375em;
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
    box-shadow: 0 .375em .5em -.125em #808080,
    inset 0 -.25em .5em -.125em #bbb;
    background: linear-gradient(#c5c5c5, #efefef) content-box,
    linear-gradient(#fdfdfd, #c4c4c4);
    font-size: 1.5em;
    cursor: pointer;

    &:active {
      transform: translateY(1px);
    }
  }

  & a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(171, 203, 217, 1);
    font-size: 15px;
    display: block;
  }
}