.root {
  text-align: center;
  background: rgba(0, 0, 0, .5);
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .8);
  margin: 10% auto;
  width: 400px;
  height: 450px;

  & .headerDate {
    //margin: 5% auto;
    //font-size: 30px;

    font-weight: 400;
    font-size: 25px;
    color: darkred;
    background: radial-gradient(circle, rgba(241, 241, 241, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 2%;
  }

  & .calendar__week__names {
    //height: 20px;
    font-weight: 400;
    font-size: 20px;
    color: darkred;
    background: radial-gradient(circle, rgba(241, 241, 241, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 2%;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px 1px;
  }

  & .calendar__days {
    height: 10px;
    font-weight: 400;
    font-size: 15px;
    color: inherit;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 36px 1px;
    margin-top: 3%;
  }

  & .table {
  }

  & .selectedDay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    //margin-bottom: 5%;
    //background: radial-gradient(circle,  rgba(0, 0, 0, 1) 0%, rgba(241, 241, 241, 1) 100%);
    //background: radial-gradient(circle, rgba(11,11,11,1) 0%, rgba(117,113,113,1) 100%);
    background: radial-gradient(circle, rgba(212, 4, 4, 1) 0%, rgba(11, 0, 0, 1) 100%);

    padding: 2%;

    & .arrowLeft {
    }

    & .image {
      border-radius: 50%;
      background: radial-gradient(circle, rgba(224, 228, 232, 1) 0%, rgba(19, 27, 14, 1) 75%);
    }

    & .image:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      transition: all 2s ease;
    }

    & .image:hover:before {
      height: 42px;
    }

    & div {
      margin: 0 2%;
      width: 70%;
    }
  }

  & .calendar__allMonths_container {
    font-weight: 400;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 36px 1px;
    margin-top: 10%;
  }

}