.root {
  text-align: center;
  background: rgba(0, 0, 0, .5);
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .8);
  margin: 10% auto;
  width: 350px;
  height: 450px;
 & div{
margin:5% auto;
  & h4{
    margin:0 5%;
  }
& .table{

}
}
}