.root {
  text-align: center;
  background: rgba(0, 0, 0, .5);
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .8);
  margin: 10% auto;
  width: 400px;
  height: 450px;

  & .headerDate {
    margin: 5% auto;
    font-size: 30px;
  }

  & .calendar__week__names {
    height: 20px;
    font-weight: 400;
    font-size: 15px;
    color: inherit;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px 1px;
  }

  & .calendar__days {
    height: 10px;
    font-weight: 400;
    font-size: 15px;
    color: inherit;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 1px 1px;
  }

  & .table {
  }

  & .selectedDay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 5%;

    & .arrowLeft{}

    & .image {
      border-radius: 50%;
      background: radial-gradient(circle, rgba(224, 228, 232, 1) 0%, rgba(19, 27, 14, 1) 75%);
    }

    & div {
      margin: 0 2%;
    }
  }
}